.button{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70%;
    background: #993399;
    color: #fafafa;
    padding: 0.8em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

.button:hover{
    background: transparent;
    border: 1px solid #993399;
    color: #993399;
    transition: 100ms ease-in-out;
}

.button:disabled{
    background: #898;
    opacity: 0.5;
    cursor: not-allowed;
}
.button:disabled:hover{
    background: #898;
    color: #fafafa;
    border: none;
    opacity: 0.5;
    cursor: not-allowed;
}